.report-wrapper {
  background-color: #f3f3f4;
  width: 100%;
  height: 100%;
  padding-left: 220px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 13px;
}
.fa-files-o {
  margin-right: 10px;
}
.section_data {
  min-height: 20px;
}


.btn-report {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.display_area_reports {
  margin: 50px 0 0 18px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.section_row  .form-control {
  font-size: 13px;
}

.table_reports {
  overflow-x: auto;
}

.table_reports th {
  /* width: 100%; */
  white-space: nowrap;
  font-weight: 500;
}

.reports-wrapper {
  padding-bottom: 80px;
}

.reports-wrapper .table {
  table-layout: auto;
  width: 100%;
}
.reports-wrapper .form-control {
  color: #686b6d;
  font-weight: normal;
}

.reports-wrapper .table-headings {
  color: #686b6d;
  font-weight: 500;
}

.reports-wrapper tbody {
  color: #686b6d;
}

.report-date input{
  max-width: 250px;
  height: 37px;
}
