.right-side {
  width: 100%;
  text-align: left;
  margin-left: 220px;
  padding-top: 20px;
}

.activites-section {
  height: 295px;
  width: 500px;
  background: #ffffff;
  float: left;
}

.right-side .heading {
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 4px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.right-side h5 {
  font-size: 14px;
  text-overflow: ellipsis;
  padding: 12px 0px 8px 10px;
}

.right-side .body {
  text-align: center;
  line-height: 1.42857143;
  color: #c7c7c7;
  font-size: 13px;
  font-weight: 700;
  padding: 50px;
}

.right-side .body i {
  font-size: 50px;
}

.right-side .body .placeholder-text {
  margin-top: 10px;
}

.chart-section {
  height: 295px;
  width: 358px;
  background: #ffffff;
  float: left;
  margin-left: 30px;
}

.notification-section {
  float: left;
  margin-left: 30px;
  height: 100%;
  width: 250px;
  background: #ffffff;
}

.notification-body {
  text-align: left;
  color: #c7c7c7;
  font-size: 13px;
}

.notification-text {
  text-align: left;
  padding:10px
}


.action-section {
  float: none;
  min-height: 345px;
  width: 890px;
  background: #ffffff;
  margin-top:40px;
  overflow: auto;
  position: relative;
  top:20px;
}