.main-page {
  background: #f3f3f4;
}

.right-side {
  background-color: #f3f3f4;
  width: 100%;
  height: 100%;
  padding-left: 220px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.col {
  padding: 0;
}

.row {
  padding: 0;
}

.activity-card {
  min-height: 300px;
  width: 55%;
  float: left;
  background: #ffff;
}

.chart-card {
  width: 39%;
  min-height: 300px;
  display: inline-block;
  margin-left: 25px;
  background: #ffff;
  text-align: left
}

text {
  color: #c7c7c7;
  font-weight: lighter;
  font-size: 11px;
}

.activity-card .body {
  padding: 0px !important;
}

.action-card {
  width: 100%;
  margin-top: 30px;
  width: 97%;
  min-height: 300px;
  background: #ffff;
}

.action-card .body {
  padding:50px;
  text-align: center;

}


.notification-card {
  width: 83%;
  margin-left: 3px;
  background: #ffff;
}

.notification-body {
  text-align: left;
  color: #c7c7c7;
  font-size: 13px;
  font-weight: normal;
  padding: 5px 10px 10px 20px;
}

.notification-text {
  margin-top: 10px;
}

.right-side .heading {
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 4px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.right-side .heading h5 {
  font-size: 14px;
  text-overflow: ellipsis;
  padding: 12px 0px 8px 10px;
}

.right-side .body {
  line-height: 1.42857143;
  color: #c7c7c7;
  font-size: 13px;
  font-weight: 700;
}

.right-side .body i {
  font-size: 50px;
}

.right-side .body .placeholder-text {
  margin-top: 10px;
}

.notification-text {
  font-weight: normal;
  text-align: left;
}


/* .logs {
  padding:10px
}
.log-entry {
  font-weight: lighter;
  font-size: 14px;
  color:#FF7920;
  cursor: pointer;
  margin-top:10px;
} */
