.left {
  float: left;
}
.white-bg {
  background-color: #fff;
}
.timesheet-wrapper {
  overflow-y: hidden;
  width: 100%;
  overflow-x: hidden;
}
main {
  padding: 0 15px;
  margin-left: 220px;
}
.no_padding {
  padding: 0;
}
.heading_container {
  border-top: 0;
  padding: 60px 0px 20px 22px;
}
.heading_container .head2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 200;
}
.team_name {
  columns: #676a6c;
  font-weight: 600;
}
.section_container {
  padding: 100px 0px 150px;
}
.section_heading {
  height: 52px;
  border-color: #e7eaec;
  /* background-color: #fff; */
  border-width: 4px 0 0;
  border-style: solid solid none;
  padding: 8px 15px 7px;
}
.toggle_btn {
  display: flex;
  justify-content: flex-end;
  float: left;
}
h5.head5 {
  font-size: 14px;
  text-overflow: ellipsis;
  padding: 12px 0px 8px 10px;
}
.section_main {
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  padding: 20px 0 20px;
}
.section_row div {
  padding: 0;
}
.display_area {
  margin: 50px 0 0 18px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.section-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.inputType {
  width: 60%;
  display: inline-block;
}
.section_main label {
  min-width: 120px;
  display: inline-block;
  margin: 10px 0;
}
.section_main label {
  display: inline-block;
  margin: 20px 0 5px 0;
}
.btn1,
.btn1:hover {
  min-width: 80px;
  height: 30px;
  border: 1px solid #b8b8b8;
  color: inherit;
  /* background: #fff; */
  padding: 5px 10px;
  font-size: 0.85em;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
}
.fa-users {
  margin-right: 10px;
}
.clear{
  clear: both;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:disabled,
.btn-primary:focus {
  background-color: #ff7a21;
  border-color: #ff7a21;
  margin: 10px 20px 20px;
}
.nav-date-link {
  font-size: 30px;
  color: #686b6d;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

.timesheet-wrapper .form-control {
  color: #686b6d;
  font-size: 13px;
  font-weight: normal;
}

.timesheet-wrapper .table-headings {
  color: #686b6d;
  font-weight: 500;
  font-size: 13px;
}

.timesheet-wrapper tbody {
  color: #686b6d;
  font-size: 13px;
}


