@import "./css/Normalize.css";
@import "./css/Bootstrap.min.css";
@import "./css/NavBar.css";
@import "./css/LeftSidebar.css";
@import "./css/RightSide.css";
@import "./css/TimeSheet.css";

body{
    color: #676a6c;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #424b63;
    font-size: 13px;
    overflow-x: hidden;
}

